In [1]:
import sqlite3
import pandas as pd
import json

In [2]:
DATABASE = "./recruit.db"

In [3]:
conn = sqlite3.connect(DATABASE)

In [4]:
education = pd.read_sql('SELECT * FROM education', conn)
race = pd.read_sql('SELECT * FROM race', conn)
insurance_segment = pd.read_sql('select * FROM insurance_segment', conn)
customer = pd.read_sql('select * FROM customer', conn)

In [6]:
customer

,id,race_code,education_id,home_owner,state,is_smoker,is_exerciser,has_insurance,income,travel_spending,sports_leisure_spending,economic_stability,insurance_segment_id,youtube_user_rank,facebook_user_rank,gender
0,1,B,1.0,,NE,,,,25,33,NaN,27,1,10,10,M
1,2,W,2.0,O,FL,,,,357,136,NaN,08,6,19,18,M
2,3,O,NaN,O,NE,,1,,25,18,5.0,13,1,19,19,M
3,4,O,2.0,,MO,,1,,51,527,NaN,23,6,14,16,M
4,5,O,NaN,,MO,,1,,51,527,NaN,23,6,14,16,F
5,6,B,NaN,,LA,,,,48,4,60.0,25,2,12,15,F
6,7,B,1.0,,LA,,1,,42,236,290.0,25,2,09,12,F
7,8,W,NaN,O,LA,,,,78,2655,NaN,05,7,12,11,F
8,9,W,2.0,O,LA,,1,,67,170,NaN,06,6,16,17,F
9,10,B,NaN,O,GA,,1,,67,698,NaN,17,4,11,11,M
10,11,B,3.0,O,LA,,,,22,100,NaN,16,8,05,08,M
11,12,B,2.0,O,LA,,1,,71,358,NaN,18,7,13,12,M
12,13,W,3.0,O,LA,,,,164,63,NaN,11,1,07,08,M
13,14,W,2.0,O,LA,,,,155,35,181.0,13,1,11,10,M
14,15,W,1.0,O,LA,,,,57,60,NaN,14,1,15,17,M
15,16,B,1.0,O,TX,,1,,109,120,NaN,02,6,14,15,M
16,17,B,1.0,O,LA,,1,,27,15,NaN,17,7,16,17,F
17,18,I,1.0,O,LA,,,,13,38,NaN,23,1,19,18,M
18,19,W,NaN,O,AL,,,,37,88,NaN,11,6,11,13,F
19,20,W,1.0,O,LA,,,,45,50,NaN,25,8,04,08,F
20,21,B,NaN,,TX,,,,72,13,NaN,19,2,09,16,F
21,22,H,2.0,O,LA,,1,,36,55,90.0,24,3,15,15,M
22,23,B,3.0,O,LA,,1,,39,15,NaN,24,4,11,13,M
23,24,B,NaN,O,LA,,,,38,90,NaN,15,5,09,11,F
24,25,W,3.0,,LA,,,,110,31,NaN,15,2,02,08,M
25,26,B,1.0,,LA,,1,,38,120,NaN,27,2,01,04,F
26,27,W,3.0,,NC,,1,,113,393,351.0,17,6,18,17,F
27,28,B,2.0,,TX,,,,37,60,NaN,29,2,13,17,F
28,29,W,1.0,O,LA,,1,,178,170,NaN,13,6,01,01,F
29,30,B,NaN,,LA,,,,17,15,NaN,23,1,18,19,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,99971,O,NaN,,MO,,,,35,15,NaN,21,1,19,18,F
99971,99972,H,2.0,O,AL,,1,,110,11,NaN,03,6,02,06,F
99972,99973,O,1.0,O,GA,,,,78,580,60.0,18,7,07,10,F
99973,99974,B,2.0,O,GA,1,,,161,15,NaN,06,6,13,13,F
99974,99975,O,1.0,O,GA,,1,,87,38,NaN,10,8,09,10,M
99975,99976,W,3.0,O,FL,,,,131,238,NaN,12,6,17,17,M
99976,99977,B,2.0,,GA,,,,35,247,NaN,27,7,12,12,M
99977,99978,O,1.0,O,GA,1,1,,46,144,200.0,13,6,13,15,F
99978,99979,W,3.0,O,TN,,1,,140,217,42.0,08,7,12,13,M
99979,99980,W,1.0,O,FL,,,,87,71,25.0,18,7,11,16,F
99980,99981,C,3.0,O,GA,,,,152,15,NaN,10,6,16,17,M
99981,99982,O,2.0,O,LA,,1,,153,90,1217.0,07,6,06,14,M
99982,99983,W,NaN,O,GA,,1,,164,15,293.0,01,2,15,16,M
99983,99984,O,1.0,O,GA,,1,,77,41,36.0,06,7,10,14,F
99984,99985,O,1.0,O,GA,,1,,77,41,36.0,06,7,11,14,M
99985,99986,O,1.0,O,AL,,1,,69,193,106.0,08,7,15,17,M
99986,99987,H,1.0,O,TX,,1,,133,33,NaN,09,6,11,11,F
99987,99988,W,2.0,O,FL,,1,,142,47,NaN,16,6,07,05,M
99988,99989,W,1.0,O,FL,,1,,142,47,NaN,16,6,09,07,F
99989,99990,O,3.0,O,MD,,1,,150,15,NaN,03,7,10,12,M
99990,99991,W,2.0,O,LA,,1,,43,32,34.0,23,5,12,13,M
99991,99992,W,1.0,,GA,,,,215,36,NaN,21,2,05,11,F
99992,99993,W,1.0,O,GA,,1,,260,102,NaN,03,7,11,13,F
99993,99994,W,2.0,O,GA,,,,124,145,NaN,10,6,13,16,M
99994,99995,O,1.0,O,GA,,1,,159,365,NaN,12,6,12,13,M
99995,99996,W,1.0,O,AL,,1,,79,139,NaN,11,7,13,13,F
99996,99997,W,3.0,O,NJ,,,,229,60,NaN,09,7,03,04,M
99997,99998,W,2.0,O,AL,,1,,113,65,38.0,11,6,08,07,F
99998,99999,W,2.0,O,FL,,,,52,96,NaN,07,7,14,16,M
99999,100000,O,2.0,O,GA,,1,,80,40,NaN,11,4,09,08,F

In [9]:
type(customer['income'][0])

numpy.int64

In [ ]:
test.groupby('economic_stability').sum()['cnt'].max()

In [ ]:
customerjson = json.loads(customer.to_json(orient='split'))

In [ ]:
def dictfetchall(cursor):
    "Return all rows from a cursor as a dict"
    columns = [col[0] for col in cursor.description]
    return [
        dict(zip(columns, row))
        for row in cursor.fetchall()
    ]


def query_db(query):

    result_dict = {}

    try:
        connection = sqlite3.connect(DATABASE)

        cursor = connection.cursor()
        cursor.execute(query)
        result_dict = dictfetchall(cursor)

    except sqlite3.OperationalError as e:
        print("Db operation error", e)
        result_dict["error"] = str(e)
    except:
        e = sys.exc_info()[0]
        print("An error occurred with the database", e)
        result_dict["error"] = str(e)
    else:
        cursor.close()
        connection.close()

    return result_dict

In [ ]:
connection = sqlite3.connect(DATABASE)
cursor = connection.cursor()
query = 'SELECT customer.economic_stability, insurance_segment.value, count(customer.economic_stability) as cnt \
            FROM customer \
            INNER JOIN insurance_segment ON customer.insurance_segment_id = insurance_segment.id \
            GROUP BY customer.economic_stability, insurance_segment.value'
cursor.execute(query)

In [ ]:
insurance_segment

In [ ]:
customer.head()

In [ ]:
data = dict()

for key in insurance_segment['value']:
    data[key] = []

query = 'SELECT customer.income, insurance_segment.value\
            FROM customer \
            INNER JOIN insurance_segment ON customer.insurance_segment_id = insurance_segment.id'


connection = sqlite3.connect(DATABASE)

cursor = connection.cursor()
cursor.execute(query)

for row in cursor.fetchall():
    data[row[1]].append(row[0])

In [22]:
i = 'Solid Suburbans'
value = test.loc[test['value'] == i, 'income']
p75 = np.percentile(value, 75)
p25 = np.percentile(value, 25)
iqr = p75 - p25
max_num = p75 + 1.5*iqr if p75 + 1.5*iqr < max(value) else max(value)
min_num = p25 - 1.5*iqr if p25 - 1.5*iqr > min(value) else min(value)

In [24]:
max_num, p75

(226.0, 124.0)

In [15]:
import plotly.plotly as py
import plotly.graph_objs as go

data = []

for i in test['value'].unique():
    data.append(
        go.Box(
            y = test.loc[test['value'] == i, 'income']
        ),
        go.Scatter(
            
        )
    )
    
py.iplot(data, filename = 'mmtest')

In [19]:
np.percentile([1,2,3,4,5], 50)

3.0

In [12]:
query = 'SELECT customer.income, insurance_segment.value\
            FROM customer \
            INNER JOIN insurance_segment ON customer.insurance_segment_id = insurance_segment.id'

test = pd.read_sql(query, conn)

In [28]:
a_dict = test.head().to_dict(orient='records')
b_dict = test.head().to_dict(orient='records')

c = [dict(a = a, b = b) for a, b in (a_dict, b_dict)]

ValueError: too many values to unpack (expected 2)

In [33]:
for a, b in zip(a_dict, b_dict):
    print(b)

{'income': 25, 'value': "Price Isn't Primary"}
{'income': 357, 'value': 'Solid Suburbans'}
{'income': 25, 'value': "Price Isn't Primary"}
{'income': 51, 'value': 'Solid Suburbans'}
{'income': 51, 'value': 'Solid Suburbans'}

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(dict(a = [1,2,3], b = [1,2,3]))

In [6]:
df['a'] = df['a'].apply(int)

In [7]:
type(df['a'][0])

numpy.int64