In [47]:
import sqlite3
import pandas as pd
import json

In [21]:
DATABASE = "./recruit.db"

In [22]:
conn = sqlite3.connect(DATABASE)

In [99]:
education = pd.read_sql('SELECT * FROM education', conn)
race = pd.read_sql('SELECT * FROM race', conn)
insurance_segment = pd.read_sql('select * FROM insurance_segment', conn)
customer = pd.read_sql('select * FROM customer', conn)

query = 'SELECT customer.economic_stability, insurance_segment.value as insurance_segment, count(customer.economic_stability) as cnt FROM customer GROUP BY customer.economic_stability, insurance_segment.value INNER JOIN insurance_segment ON insurance_segment.id = customer.insurance_segment_id'
query = 'SELECT customer.economic_stability, insurance_segment.value, count(customer.economic_stability) as cnt FROM customer INNER JOIN insurance_segment ON customer.insurance_segment_id = insurance_segment.id GROUP BY customer.economic_stability, insurance_segment.value'


test = pd.read_sql(query, conn)

In [95]:
test.groupby('economic_stability').sum()['cnt'].max()

4959

In [100]:
test = test.pivot(index = 'economic_stability', columns = 'value', values = 'cnt').fillna(0)

In [101]:
test.reset_index()

value,economic_stability,Country Middles,Full House,Getting By,Hands Full,Price Isn't Primary,Solid Suburbans,Stretched Singles,The Nest is Empty
0,01,0.0,887.0,7.0,7.0,97.0,176.0,9.0,10.0
1,02,7.0,1399.0,39.0,26.0,245.0,483.0,7.0,10.0
2,03,14.0,1493.0,68.0,55.0,378.0,783.0,24.0,57.0
3,04,36.0,1589.0,90.0,103.0,527.0,1157.0,23.0,93.0
4,05,44.0,1488.0,107.0,141.0,599.0,1253.0,18.0,116.0
5,06,110.0,1510.0,105.0,174.0,685.0,1383.0,27.0,143.0
6,07,145.0,1358.0,137.0,204.0,774.0,1260.0,37.0,224.0
7,08,215.0,1537.0,137.0,253.0,817.0,1311.0,41.0,270.0
8,09,287.0,1473.0,176.0,253.0,856.0,1252.0,44.0,296.0
9,10,363.0,1498.0,189.0,338.0,853.0,1225.0,48.0,338.0
10,11,393.0,1454.0,209.0,340.0,824.0,1075.0,59.0,367.0
11,12,518.0,1531.0,239.0,354.0,851.0,903.0,90.0,473.0
12,13,627.0,1442.0,257.0,352.0,839.0,756.0,100.0,490.0
13,14,622.0,1455.0,280.0,325.0,839.0,607.0,132.0,526.0
14,15,643.0,1332.0,344.0,314.0,774.0,481.0,132.0,514.0
15,16,679.0,1248.0,325.0,337.0,730.0,458.0,151.0,512.0
16,17,674.0,1222.0,365.0,311.0,708.0,361.0,197.0,524.0
17,18,633.0,1011.0,366.0,288.0,699.0,332.0,261.0,486.0
18,19,558.0,963.0,380.0,297.0,650.0,267.0,272.0,444.0
19,20,587.0,884.0,413.0,278.0,599.0,219.0,285.0,395.0
20,21,488.0,793.0,341.0,347.0,497.0,177.0,365.0,361.0
21,22,414.0,655.0,309.0,287.0,458.0,150.0,468.0,274.0
22,23,288.0,530.0,274.0,305.0,425.0,118.0,485.0,246.0
23,24,227.0,446.0,232.0,335.0,388.0,93.0,549.0,197.0
24,25,196.0,322.0,154.0,296.0,282.0,72.0,645.0,148.0
25,26,144.0,234.0,111.0,297.0,304.0,54.0,624.0,119.0
26,27,102.0,202.0,74.0,272.0,233.0,32.0,646.0,61.0
27,28,63.0,143.0,27.0,213.0,213.0,17.0,591.0,40.0
28,29,27.0,74.0,14.0,127.0,126.0,6.0,432.0,8.0
29,30,11.0,24.0,9.0,88.0,80.0,0.0,275.0,3.0

In [48]:
customerjson = json.loads(customer.to_json(orient='split'))

In [30]:
def dictfetchall(cursor):
    "Return all rows from a cursor as a dict"
    columns = [col[0] for col in cursor.description]
    return [
        dict(zip(columns, row))
        for row in cursor.fetchall()
    ]


def query_db(query):

    result_dict = {}

    try:
        connection = sqlite3.connect(DATABASE)

        cursor = connection.cursor()
        cursor.execute(query)
        result_dict = dictfetchall(cursor)

    except sqlite3.OperationalError as e:
        print("Db operation error", e)
        result_dict["error"] = str(e)
    except:
        e = sys.exc_info()[0]
        print("An error occurred with the database", e)
        result_dict["error"] = str(e)
    else:
        cursor.close()
        connection.close()

    return result_dict

In [52]:
customerjson['data'][1]

[2,
 'W',
 2.0,
 'O',
 'FL',
 ' ',
 ' ',
 ' ',
 357,
 136,
 None,
 '08',
 6,
 '19',
 '18',
 'M']

In [58]:
customer.head()

,id,race_code,education_id,home_owner,state,is_smoker,is_exerciser,has_insurance,income,travel_spending,sports_leisure_spending,economic_stability,insurance_segment_id,youtube_user_rank,facebook_user_rank,gender
0,1,B,1.0,,NE,,,,25,33,NaN,27,1,10,10,M
1,2,W,2.0,O,FL,,,,357,136,NaN,08,6,19,18,M
2,3,O,NaN,O,NE,,1,,25,18,5.0,13,1,19,19,M
3,4,O,2.0,,MO,,1,,51,527,NaN,23,6,14,16,M
4,5,O,NaN,,MO,,1,,51,527,NaN,23,6,14,16,F

In [86]:
insurance_segment.to_dict(orient='records')

[{'id': 1, 'value': "Price Isn't Primary"},
 {'id': 2, 'value': 'Stretched Singles'},
 {'id': 3, 'value': 'Hands Full'},
 {'id': 4, 'value': 'The Nest is Empty'},
 {'id': 5, 'value': 'Country Middles'},
 {'id': 6, 'value': 'Solid Suburbans'},
 {'id': 7, 'value': 'Full House'},
 {'id': 8, 'value': 'Getting By'}]

In [70]:
import colorlover as cl

In [77]:
cl.scales['8']['qual']['Set1']

['rgb(228,26,28)',
 'rgb(55,126,184)',
 'rgb(77,175,74)',
 'rgb(152,78,163)',
 'rgb(255,127,0)',
 'rgb(255,255,51)',
 'rgb(166,86,40)',
 'rgb(247,129,191)']

In [81]:
connection = sqlite3.connect(DATABASE)
cursor = connection.cursor()
query = 'SELECT customer.economic_stability, insurance_segment.value, count(customer.economic_stability) as cnt \
            FROM customer \
            INNER JOIN insurance_segment ON customer.insurance_segment_id = insurance_segment.id \
            GROUP BY customer.economic_stability, insurance_segment.value'
cursor.execute(query)

In [ ]:
data = dict()
for row in cursor.fetchall():
    if

In [83]:
data = dict()
for col in [col[0] for col in cursor.description]:

(('economic_stability', None, None, None, None, None, None),
 ('value', None, None, None, None, None, None),
 ('cnt', None, None, None, None, None, None))

In [84]:
a = dict()
a['hello']['goodbye'] = 5

KeyError: 'hello'

In [96]:
test.reset_index()

     index economic_stability                value   cnt
0        0                 01           Full House   887
1        1                 01           Getting By     7
2        2                 01           Hands Full     7
3        3                 01  Price Isn't Primary    97
4        4                 01      Solid Suburbans   176
5        5                 01    Stretched Singles     9
6        6                 01    The Nest is Empty    10
7        7                 02      Country Middles     7
8        8                 02           Full House  1399
9        9                 02           Getting By    39
10      10                 02           Hands Full    26
11      11                 02  Price Isn't Primary   245
12      12                 02      Solid Suburbans   483
13      13                 02    Stretched Singles     7
14      14                 02    The Nest is Empty    10
15      15                 03      Country Middles    14
16      16                 03           Full House  1493
17      17                 03           Getting By    68
18      18                 03           Hands Full    55
19      19                 03  Price Isn't Primary   378
20      20                 03      Solid Suburbans   783
21      21                 03    Stretched Singles    24
22      22                 03    The Nest is Empty    57
23      23                 04      Country Middles    36
24      24                 04           Full House  1589
25      25                 04           Getting By    90
26      26                 04           Hands Full   103
27      27                 04  Price Isn't Primary   527
28      28                 04      Solid Suburbans  1157
29      29                 04    Stretched Singles    23
..     ...                ...                  ...   ...
208    208                 27           Full House   202
209    209                 27           Getting By    74
210    210                 27           Hands Full   272
211    211                 27  Price Isn't Primary   233
212    212                 27      Solid Suburbans    32
213    213                 27    Stretched Singles   646
214    214                 27    The Nest is Empty    61
215    215                 28      Country Middles    63
216    216                 28           Full House   143
217    217                 28           Getting By    27
218    218                 28           Hands Full   213
219    219                 28  Price Isn't Primary   213
220    220                 28      Solid Suburbans    17
221    221                 28    Stretched Singles   591
222    222                 28    The Nest is Empty    40
223    223                 29      Country Middles    27
224    224                 29           Full House    74
225    225                 29           Getting By    14
226    226                 29           Hands Full   127
227    227                 29  Price Isn't Primary   126
228    228                 29      Solid Suburbans     6
229    229                 29    Stretched Singles   432
230    230                 29    The Nest is Empty     8
231    231                 30      Country Middles    11
232    232                 30           Full House    24
233    233                 30           Getting By     9
234    234                 30           Hands Full    88
235    235                 30  Price Isn't Primary    80
236    236                 30    Stretched Singles   275
237    237                 30    The Nest is Empty     3

[238 rows x 4 columns]